# Discord Bot Tokeninizi buraya yazın (Railway'de MUSIC_TOKEN olarak tanımlandı)
MUSIC_TOKEN=OTExxxxxxxxxxxxxxxxxxxxxxx.xxxxxx.xxxxxxxxxxxxxxxxxxxxxx

# Müzik komutlarını kullanma iznine sahip rolün ID'si
MUSIC_ROLE_ID=1547589732937240627

# Komutların anında belirmesini istediğiniz sunucunun ID'si (Opsiyoneldir, boş bırakırsanız global senkronize olur)
GUILD_ID=

# Bot Ön Eki (Opsiyonel)
BOT_PREFIX=!
